<nav class="navbar navbar-default navbar-inverse" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand">Formation Angular</a>
    </div>
  </div>
</nav>

<div class="container">

    <div class="media book_description">
        <div class="media-left">
            <a>
                <img class="cover" [src]="book.coverUrl">
            </a>
        </div>
        <div class="media-body">
            <h4 class="media-heading">{{ book.title }}</h4>
            {{ book.description }}
        </div>
    </div>

    <!-- Form to comment -->
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Send a comment</h3>
        </div>
        <div class="panel-body">
            <form class="form-horizontal" role="form">
                <div class="form-group">
                    <label for="Login" class="col-sm-2 control-label">Login</label>

                    <div class="col-sm-10">
                        <input class="form-control" id="Login" placeholder="Login" name="newComment.login" [(ngModel)]="newComment.login">
                    </div>
                </div>
                <div class="form-group">
                    <label for="Comment" class="col-sm-2 control-label">Comment</label>

                    <div class="col-sm-10">
                        <textarea class="form-control" id="Comment" placeholder="Comment" name="newComment.text" [(ngModel)]="newComment.text"></textarea>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-default" (click)="send()">Send</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="panel panel-default widget" *ngIf="comments.length > 0">
        <div class="panel-heading">
            <span class="glyphicon glyphicon-comment"></span>

            <h3 class="panel-title">Recent Comments</h3>
            <span class="label label-info">{{ comments.length }}</span>
        </div>
        <div class="panel-body">
            <ul class="list-group">
                <li class="list-group-item" *ngFor="let comment of comments">
                    <div class="row">
                        <div class="col-xs-10 col-md-11">
                            <div>
                                <div class="info">
                                    By: <a>{{ comment.login | uppercase }}</a> on {{ comment.creationDate | date:'medium'}}
                                </div>
                            </div>
                            <div class="comment-text">
                                {{ comment.text }}
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>

</div>
